@reference "tailwindcss";

$primary-color: var(--color-brand-500);
$white: var(--white);
$dark: var(--dark);    

@mixin h1 {
  font-family: var(--font-sans);
  color: var(--white);
  @apply my-0 text-3xl;
}

@mixin h2 {
  font-family: var(--font-sans);
  @apply my-0 text-xl;
}

@mixin transition {
  @apply transition duration-100 ease-in-out;
}

@mixin bg-gradient {

  background: radial-gradient(at 47.285464098073554% 60.77148437499999%, #15332F 0px, transparent 50%), radial-gradient(at 78.45884413309983% 0%, #446155 0px, transparent 50%), radial-gradient(at 3.852889667250438% 2.333984375%, #509288 0px, transparent 50%) #0a0a0a;;
  mix-blend-mode: normal;
  .frosted-backdrop {
    backdrop-filter: blur(0px) contrast(100%) brightness(100%);
    -webkit-backdrop-filter: blur(0px) contrast(100%) brightness(100%);
  }
}