
@reference "tailwindcss";

$primary-color: var(--color-brand-500);
$white: var(--white);
$dark: var(--dark);    


@mixin h1 {
  font-family: var(--font-sans);
  color: var(--white);
  @apply my-0 text-3xl;
}

@mixin h2 {
  font-family: var(--font-sans);
  @apply my-0 text-xl;
}

@mixin transition {
  @apply transition duration-100 ease-in-out;
}

@mixin bg-gradient {
  background: radial-gradient(at 50% -120%, #34c9b5 0px, transparent 600px);
  mix-blend-mode: normal;
}